@use 'sass:map';
@use '../../config';
@use '../../mixins';

$flex-shrink: () !default;
$flex-shrink: map.deep-merge(
  (
    'flex-shrink-0': (
      'flex-shrink': 0
    ),
    'flex-shrink': (
      'flex-shrink': 1
    )
  ),
  $flex-shrink
);

@include mixins.generate-utilities(
  $map: $flex-shrink,
  $variants: map.get(config.$variants, 'flexbox', 'flex-shrink'),
  $include: map.get(config.$utilities, 'flexbox', 'flex-shrink')
);
