@use 'sass:map';
@use '../../config';
@use '../../mixins';

$flex-direction: () !default;
$flex-direction: map.deep-merge(
  (
    'flex-row': (
      'flex-direction': row
    ),
    'flex-row-reverse': (
      'flex-direction': row-reverse
    ),
    'flex-col': (
      'flex-direction': column
    ),
    'flex-col-reverse': (
      'flex-direction': column-reverse
    )
  ),
  $flex-direction
);

@include mixins.generate-utilities(
  $map: $flex-direction,
  $variants: map.get(config.$variants, 'flexbox', 'flex-direction'),
  $include: map.get(config.$utilities, 'flexbox', 'flex-direction')
);
