@use 'sass:map';
@use '../../config';
@use '../../mixins';

$flex-grow: () !default;
$flex-grow: map.deep-merge(
  (
    'flex-grow-0': (
      'flex-grow': 0
    ),
    'flex-grow': (
      'flex-grow': 1
    )
  ),
  $flex-grow
);

@include mixins.generate-utilities(
  $map: $flex-grow,
  $variants: map.get(config.$variants, 'flexbox', 'flex-grow'),
  $include: map.get(config.$utilities, 'flexbox', 'flex-grow')
);
