@use 'sass:map';
@use '../../config';
@use '../../mixins';

$flex: () !default;
$flex: map.deep-merge(
  (
    'flex-1': (
      'flex': 1 1 0%
    ),
    'flex-auto': (
      'flex': 1 1 auto
    ),
    'flex-initial': (
      'flex': 0 1 auto
    ),
    'flex-none': (
      'flex': none
    )
  ),
  $flex
);

@include mixins.generate-utilities(
  $map: $flex,
  $variants: map.get(config.$variants, 'flexbox', 'flex'),
  $include: map.get(config.$utilities, 'flexbox', 'flex')
);
