@use 'sass:map';
@use '../../config';
@use '../../mixins';

$flex-wrap: () !default;
$flex-wrap: map.deep-merge(
  (
    'flex-wrap': (
      'flex-wrap': wrap
    ),
    'flex-wrap-reverse': (
      'flex-wrap': wrap-reverse
    ),
    'flex-nowrap': (
      'flex-wrap': nowrap
    )
  ),
  $flex-wrap
);

@include mixins.generate-utilities(
  $map: $flex-wrap,
  $variants: map.get(config.$variants, 'flexbox', 'flex-wrap'),
  $include: map.get(config.$utilities, 'flexbox', 'flex-wrap')
);
