@use 'sass:map';
@use '../../config';
@use '../../mixins';

$appearance: () !default;
$appearance: map.deep-merge(
  (
    'appearance-none': (
      'appearance': none
    )
  ),
  $appearance
);

@include mixins.generate-utilities(
  $map: $appearance,
  $variants: map.get(config.$variants, 'interactivity', 'appearance'),
  $include: map.get(config.$utilities, 'interactivity', 'appearance')
);
