@use 'sass:map';
@use '../../config';
@use '../../mixins';

$u-cursor: () !default;
$u-cursor: map.deep-merge(
  (
    'cursor-auto': (
      'cursor': auto
    ),
    'cursor-default': (
      'cursor': default
    ),
    'cursor-pointer': (
      'cursor': pointer
    ),
    'cursor-wait': (
      'cursor': wait
    ),
    'cursor-text': (
      'cursor': text
    ),
    'cursor-move': (
      'cursor': move
    ),
    'cursor-help': (
      'cursor': help
    ),
    'cursor-not-allowed': (
      'cursor': not-allowed
    )
  ),
  $u-cursor
);

@include mixins.generate-utilities(
  $map: $u-cursor,
  $variants: map.get(config.$variants, 'interactivity', 'cursor'),
  $include: map.get(config.$utilities, 'interactivity', 'cursor')
);
