@use 'sass:map';
@use '../../config';
@use '../../mixins';

$outline: () !default;
$outline: map.deep-merge(
  (
    'outline-none': (
      'outline': none
    ),
    'outline-white': (
      'outline': 2px dotted white,
      'outline-offset': 2px
    ),
    'outline-black': (
      'outline': 2px dotted black,
      'outline-offset': 2px
    )
  ),
  $outline
);

@include mixins.generate-common(
  $rules: $outline,
  $variants: map.get(config.$variants, 'interactivity', 'outline'),
  $utilities: map.get(config.$utilities, 'interactivity', 'outline')
);
