@use 'sass:map';
@use '../../config';
@use '../../mixins';

$pointer-events: () !default;
$pointer-events: map.deep-merge(
  (
    'pointer-events-none': (
      'pointer-events': none
    ),
    'pointer-events-auto': (
      'pointer-events': auto
    )
  ),
  $pointer-events
);

@include mixins.generate-utilities(
  $map: $pointer-events,
  $variants: map.get(config.$variants, 'interactivity', 'pointer-events'),
  $include: map.get(config.$utilities, 'interactivity', 'pointer-events')
);
