@use 'sass:map';
@use '../../config';
@use '../../mixins';

$resize: () !default;
$resize: map.deep-merge(
  (
    'resize-none': (
      'resize': none
    ),
    'resize-y': (
      'resize': vertical
    ),
    'resize-x': (
      'resize': horizontal
    ),
    'resize': (
      'resize': both
    )
  ),
  $resize
);

@include mixins.generate-common(
  $rules: $resize,
  $variants: map.get(config.$variants, 'interactivity', 'resize'),
  $utilities: map.get(config.$utilities, 'interactivity', 'resize')
);
