@use 'sass:map';
@use '../../config';
@use '../../mixins';

$user-select: () !default;
$user-select: map.deep-merge(
  (
    'select-none': (
      'user-select': none
    ),
    'select-text': (
      'user-select': text
    ),
    'select-all': (
      'user-select': all
    ),
    'select-auto': (
      'user-select': auto
    )
  ),
  $user-select
);

@include mixins.generate-common(
  $rules: $user-select,
  $variants: map.get(config.$variants, 'interactivity', 'user-select'),
  $utilities: map.get(config.$utilities, 'interactivity', 'user-select')
);
