@use 'sass:map';
@use '../config/theme';

@mixin flex(
  $direction: null,
  $wrap: null,
  $gap: null,
  $gap-x: null,
  $gap-y: null
) {
  display: flex;

  div {
    flex: 0 1 auto;
    width: 100%;
  }

  @if $direction {
    flex-direction: $direction;
  }

  @if $wrap {
    flex-wrap: $wrap;
  }

  @if $gap and $wrap {
    margin-left: -#{map.get(theme.$theme, 'spacing', $gap)};
    margin-bottom: -#{map.get(theme.$theme, 'spacing', $gap)};

    div {
      padding-left: #{map.get(theme.$theme, 'spacing', $gap)};
      padding-bottom: #{map.get(theme.$theme, 'spacing', $gap)};
    }
  } @else if $gap and $wrap == null {
    margin-left: -#{map.get(theme.$theme, 'spacing', $gap)};

    div {
      padding-left: #{map.get(theme.$theme, 'spacing', $gap)};
    }
  }

  @if $gap-x {
    margin-left: -#{map.get(theme.$theme, 'spacing', $gap-x)};

    div {
      padding-left: #{map.get(theme.$theme, 'spacing', $gap-x)};
    }
  }

  @if $gap-y {
    margin-bottom: -#{map.get(theme.$theme, 'spacing', $gap-y)};

    div {
      padding-bottom: #{map.get(theme.$theme, 'spacing', $gap-y)};
    }
  }
}
