@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use '../config';
@use '../functions';
@use 'media-queries';

@mixin _theme(
  $selector: '.',
  $theme-separator: '-',
  $prefix: null,
  $map: null,
  $class-name: null,
  $property: null,
  $variant: null,
  $variant-separator: null,
  $pseudo-separator: null,
  $pseudo: null,
  $important: null
) {
  @each $theme-key, $theme-value in $map {
    #{$selector}#{$variant}#{$variant-separator}#{$prefix}#{$class-name}#{$theme-separator}#{$theme-key}#{$pseudo-separator}#{$pseudo} {
      #{$property}: $theme-value #{if($important, !important, null)};
    }
  }
}

@mixin generate-theme(
  $prefix: map.get(config.$core, 'prefix'),
  $important: map.get(config.$core, 'important'),
  $variant-separator: map.get(config.$core, 'separator'),
  $breakpoints-map: map.get(config.$theme, 'breakpoints'),
  $pseudo-separator: ':',
  $map: null,
  $class-name: null,
  $property: null,
  $variants: null,
  $pseudo: null,
  $default: true,
  $include: true
) {
  @if $include {
    $responsive: list.index($variants, 'responsive');
    $variants-type: meta.type-of($variants) ==
      'string' or
      meta.type-of($variants) ==
      'list';
    $variants-list: if(
      $responsive,
      functions.remove-value($variants, 'responsive'),
      $variants
    );

    @if $default {
      @include _theme(
        $map: $map,
        $prefix: $prefix,
        $class-name: $class-name,
        $property: $property,
        $important: $important
      );
    }

    @if $variants-type {
      @each $variant in $variants-list {
        @include _theme(
          $map: $map,
          $prefix: $prefix,
          $class-name: $class-name,
          $property: $property,
          $variant: $variant,
          $variant-separator: $variant-separator,
          $pseudo-separator: $pseudo-separator,
          $pseudo: $variant,
          $important: $important
        );
      }
    }

    @if $responsive {
      @each $breakpoint in map.keys($breakpoints-map) {
        @include media-queries.media($from: $breakpoint) {
          @if $default {
            @include _theme(
              $map: $map,
              $prefix: $prefix,
              $class-name: $class-name,
              $property: $property,
              $variant: $breakpoint,
              $variant-separator: $variant-separator,
              $important: $important
            );
          }

          @if $variants-type {
            @each $variant in $variants-list {
              @include _theme(
                $map: $map,
                $prefix: $prefix,
                $class-name: $class-name,
                $property: $property,
                $variant: #{$breakpoint}#{$variant-separator}#{$variant},
                $variant-separator: $variant-separator,
                $pseudo-separator: $pseudo-separator,
                $pseudo: $variant,
                $important: $important
              );
            }
          }
        }
      }
    }
  }
}
