@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use '../config';
@use '../functions';
@use 'media-queries';

@mixin _spacing(
  $selector: '.',
  $separator: '-',
  $prefix: null,
  $set: null,
  $rules: null,
  $variant: null,
  $pseudo: null,
  $negative: null,
  $important: null,
  $variant-separator: null,
  $pseudo-separator: null
) {
  $negative-prefix: if($negative, '-', null);

  @each $selector-name, $declaration in $rules {
    @each $set-key, $set-value in $set {
      #{$selector}#{$variant}#{$variant-separator}#{$negative-prefix}#{$prefix}#{$selector-name}#{$separator}#{$set-key}#{$pseudo-separator}#{$pseudo} {
        @each $property in $declaration {
          #{$property}: #{$negative-prefix}#{$set-value}
            #{if($important, !important, null)};
        }
      }
    }
  }
}

@mixin generate-spacing(
  $prefix: map.get(config.$core, 'prefix'),
  $important: map.get(config.$core, 'important'),
  $variant-separator: map.get(config.$core, 'separator'),
  $breakpoints: map.get(config.$theme, 'breakpoints'),
  $set: map.get(config.$theme, 'spacing'),
  $pseudo-separator: ':',
  $rules: null,
  $variants: null,
  $pseudo: null,
  $negative: null,
  $positive: true,
  $utilities: true
) {
  @if $utilities {
    $responsive: list.index($variants, 'responsive');
    $variants-type: meta.type-of($variants) ==
      'string' or
      meta.type-of($variants) ==
      'list';
    $variants-list: if(
      $responsive,
      functions.remove-value($variants, 'responsive'),
      $variants
    );

    @if $positive {
      @include _spacing(
        $set: $set,
        $rules: $rules,
        $prefix: $prefix,
        $important: $important
      );
    }

    @if $negative {
      @include _spacing(
        $set: $set,
        $rules: $rules,
        $prefix: $prefix,
        $negative: $negative,
        $important: $important
      );
    }

    @if $variants-type {
      @each $variant in $variants-list {
        @if $positive {
          @include _spacing(
            $set: $set,
            $rules: $rules,
            $prefix: $prefix,
            $variant: $variant,
            $variant-separator: $variant-separator,
            $pseudo-separator: $pseudo-separator,
            $pseudo: $variant,
            $important: $important
          );
        }

        @if $negative {
          @include _spacing(
            $set: $set,
            $rules: $rules,
            $prefix: $prefix,
            $negative: $negative,
            $variant: $variant,
            $variant-separator: $variant-separator,
            $pseudo-separator: $pseudo-separator,
            $pseudo: $variant,
            $important: $important
          );
        }
      }
    }

    @if $responsive {
      @each $breakpoint in map.keys($breakpoints) {
        @include media-queries.media($from: $breakpoint) {
          @if $positive {
            @include _spacing(
              $set: $set,
              $rules: $rules,
              $prefix: $prefix,
              $variant: $breakpoint,
              $variant-separator: $variant-separator,
              $important: $important
            );
          }

          @if $negative {
            @include _spacing(
              $set: $set,
              $rules: $rules,
              $prefix: $prefix,
              $negative: $negative,
              $variant: $breakpoint,
              $variant-separator: $variant-separator,
              $important: $important
            );
          }

          @if $variants-type {
            @each $variant in $variants-list {
              @if $positive {
                @include _spacing(
                  $set: $set,
                  $rules: $rules,
                  $prefix: $prefix,
                  $variant: #{$breakpoint}#{$variant-separator}#{$variant},
                  $variant-separator: $variant-separator,
                  $pseudo-separator: $pseudo-separator,
                  $pseudo: $variant,
                  $important: $important
                );
              }

              @if $negative {
                @include _spacing(
                  $set: $set,
                  $rules: $rules,
                  $prefix: $prefix,
                  $negative: $negative,
                  $variant: #{$breakpoint}#{$variant-separator}#{$variant},
                  $variant-separator: $variant-separator,
                  $pseudo-separator: $pseudo-separator,
                  $pseudo: $variant,
                  $important: $important
                );
              }
            }
          }
        }
      }
    }
  }
}
