@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use '../config';
@use '../functions';
@use 'media-queries';

@mixin _theme(
  $selector: '.',
  $separator: '-',
  $prefix: null,
  $set: null,
  $rules: null,
  $variant: null,
  $pseudo: null,
  $important: null,
  $pseudo-separator: null,
  $variant-separator: null
) {
  @each $selector-name, $declaration in $rules {
    @each $set-key, $set-value in $set {
      #{$selector}#{$variant}#{$variant-separator}#{$prefix}#{$selector-name}#{$separator}#{$set-key}#{$pseudo-separator}#{$pseudo} {
        @each $property in $declaration {
          #{$property}: $set-value #{if($important, !important, null)};
        }
      }
    }
  }
}

@mixin generate-theme(
  $prefix: map.get(config.$core, 'prefix'),
  $important: map.get(config.$core, 'important'),
  $variant-separator: map.get(config.$core, 'separator'),
  $breakpoints: map.get(config.$theme, 'breakpoints'),
  $pseudo-separator: ':',
  $set: null,
  $rules: null,
  $variants: null,
  $pseudo: null,
  $default: true,
  $utilities: true
) {
  @if $utilities {
    $responsive: list.index($variants, 'responsive');
    $variants-type: meta.type-of($variants) ==
      'string' or
      meta.type-of($variants) ==
      'list';
    $variants-list: if(
      $responsive,
      functions.remove-value($variants, 'responsive'),
      $variants
    );

    @if $default {
      @include _theme(
        $set: $set,
        $rules: $rules,
        $prefix: $prefix,
        $important: $important
      );
    }

    @if $variants-type {
      @each $variant in $variants-list {
        @include _theme(
          $set: $set,
          $rules: $rules,
          $prefix: $prefix,
          $variant: $variant,
          $variant-separator: $variant-separator,
          $pseudo-separator: $pseudo-separator,
          $pseudo: $variant,
          $important: $important
        );
      }
    }

    @if $responsive {
      @each $breakpoint in map.keys($breakpoints) {
        @include media-queries.media($from: $breakpoint) {
          @if $default {
            @include _theme(
              $set: $set,
              $rules: $rules,
              $prefix: $prefix,
              $variant: $breakpoint,
              $variant-separator: $variant-separator,
              $important: $important
            );
          }

          @if $variants-type {
            @each $variant in $variants-list {
              @include _theme(
                $set: $set,
                $rules: $rules,
                $prefix: $prefix,
                $variant: #{$breakpoint}#{$variant-separator}#{$variant},
                $variant-separator: $variant-separator,
                $pseudo-separator: $pseudo-separator,
                $pseudo: $variant,
                $important: $important
              );
            }
          }
        }
      }
    }
  }
}
