@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use '../config';
@use '../functions';
@use 'media-queries';

@mixin _common(
  $selector: '.',
  $prefix: null,
  $rules: null,
  $variant: null,
  $pseudo: null,
  $important: null,
  $variant-separator: null,
  $pseudo-separator: null,
  $combinator: null
) {
  @each $selector-name, $declaration in $rules {
    #{$selector}#{$variant}#{$variant-separator}#{$prefix}#{$selector-name}#{$pseudo-separator}#{$pseudo}#{$combinator} {
      @each $property, $value in $declaration {
        #{$property}: #{$value} #{if($important, !important, null)};
      }
    }
  }
}

@mixin generate-common(
  $prefix: map.get(config.$core, 'prefix'),
  $important: map.get(config.$core, 'important'),
  $variant-separator: map.get(config.$core, 'separator'),
  $breakpoints: map.get(config.$theme, 'breakpoints'),
  $pseudo-separator: ':',
  $pseudo: null,
  $rules: null,
  $combinator: null,
  $defaults: normal responsive,
  $variants: null,
  $utilities: true
) {
  @if $utilities {
    $defaults-normal: list.index($defaults, 'normal');
    $defaults-responsive: list.index($defaults, 'responsive');

    $responsive: list.index($variants, 'responsive');
    $variants-list: if(
      $responsive,
      functions.remove-value($variants, 'responsive'),
      $variants
    );

    @if $defaults-normal {
      @include _common(
        $rules: $rules,
        $prefix: $prefix,
        $important: $important,
        $combinator: $combinator
      );
    }

    @if $variants {
      @each $variant in $variants-list {
        @include _common(
          $prefix: $prefix,
          $rules: $rules,
          $variant: $variant,
          $variant-separator: $variant-separator,
          $pseudo-separator: $pseudo-separator,
          $pseudo: $variant,
          $important: $important,
          $combinator: $combinator
        );
      }
    }

    @if $responsive {
      @each $breakpoint in map.keys($breakpoints) {
        @include media-queries.media($from: $breakpoint) {
          @if $defaults-responsive {
            @include _common(
              $prefix: $prefix,
              $rules: $rules,
              $variant: $breakpoint,
              $variant-separator: $variant-separator,
              $important: $important,
              $combinator: $combinator
            );
          }

          @if $variants {
            @each $variant in $variants-list {
              @include _common(
                $prefix: $prefix,
                $rules: $rules,
                $variant: #{$breakpoint}#{$variant-separator}#{$variant},
                $variant-separator: $variant-separator,
                $pseudo-separator: $pseudo-separator,
                $pseudo: $variant,
                $important: $important,
                $combinator: $combinator
              );
            }
          }
        }
      }
    }
  }
}
