@use 'sass:list';
@use 'sass:map';
@use '../config';

@mixin media(
  $breakpoints: map.get(config.$config, 'theme', 'breakpoints'),
  $type: map.get(config.$config, 'breakpoints-media-type'),
  $and: map.get(config.$config, 'breakpoints-media-and'),
  $from: null,
  $until: null
) {
  @if $from and not $until {
    $min-width: map.get(config.$config, 'theme', 'breakpoints', $from);
    $media-query: '(min-width: #{$min-width})';

    @if $type {
      $media-query: list.join('#{$type} and', $media-query);
    }

    @if $and {
      $media-query: list.append($media-query, 'and #{$and}');
    }

    @media #{$media-query} {
      @content;
    }
  }

  @if $until and not $from {
    $max-width: map.get(config.$config, 'theme', 'breakpoints', $until) - 0.01;
    $media-query: '(max-width: #{$max-width})';

    @if $type {
      $media-query: list.join('#{$type} and', $media-query);
    }

    @if $and {
      $media-query: list.append($media-query, 'and #{$and}');
    }

    @media #{$media-query} {
      @content;
    }
  }

  @if $from and $until {
    $min-width: map.get(config.$config, 'theme', 'breakpoints', $from);
    $max-width: map.get(config.$config, 'theme', 'breakpoints', $until) - 0.01;
    $media-query: '(min-width: #{$min-width}) and (max-width: #{$max-width})';

    @if $type {
      $media-query: list.join('#{$type} and', $media-query);
    }

    @if $and {
      $media-query: list.append($media-query, 'and #{$and}');
    }

    @media #{$media-query} {
      @content;
    }
  }
}
