@use 'sass:map';
@use '../../config';
@use '../../mixins';

$border-collapse: () !default;
$border-collapse: map.deep-merge(
  (
    'border-collapse': (
      'border-collapse': collapse
    ),
    'border-separate': (
      'border-collapse': separate
    )
  ),
  $border-collapse
);

@include mixins.generate-common(
  $rules: $border-collapse,
  $variants: map.get(config.$variants, 'tables', 'border-collapse'),
  $utilities: map.get(config.$utilities, 'tables', 'border-collapse')
);
