@use 'sass:map';
@use '../../config';
@use '../../mixins';

$table-layout: () !default;
$table-layout: map.deep-merge(
  (
    'table-auto': (
      'table-layout': auto
    ),
    'table-fixed': (
      'table-layout': fixed
    )
  ),
  $table-layout
);

@include mixins.generate-utilities(
  $map: $table-layout,
  $variants: map.get(config.$variants, 'tables', 'table-layout'),
  $include: map.get(config.$utilities, 'tables', 'table-layout')
);
