@use 'sass:map';
@use '../../config';
@use '../../mixins';

$clear: () !default;
$clear: map.deep-merge(
  (
    'clear-left': (
      'clear': left
    ),
    'clear-right': (
      'clear': right
    ),
    'clear-both': (
      'clear': both
    ),
    'clear-none': (
      'clear': none
    )
  ),
  $clear
);

@include mixins.generate-common(
  $rules: $clear,
  $variants: map.get(config.$variants, 'layout', 'clear'),
  $utilities: map.get(config.$utilities, 'layout', 'clear')
);
