@use 'sass:map';
@use '../../config';
@use '../../mixins';

$object-position: () !default;
$object-position: map.deep-merge(
  (
    'object-bottom': (
      'object-position': bottom
    ),
    'object-center': (
      'object-position': center
    ),
    'object-left': (
      'object-position': left
    ),
    'object-left-bottom': (
      'object-position': left bottom
    ),
    'object-left-top': (
      'object-position': left top
    ),
    'object-right': (
      'object-position': right
    ),
    'object-right-bottom': (
      'object-position': right bottom
    ),
    'object-right-top': (
      'object-position': right top
    ),
    'object-top': (
      'object-position': top
    )
  ),
  $object-position
);

@include mixins.generate-common(
  $rules: $object-position,
  $variants: map.get(config.$variants, 'layout', 'object-position'),
  $utilities: map.get(config.$utilities, 'layout', 'object-position')
);
