@use 'sass:map';
@use '../../config';
@use '../../mixins';

@include mixins.generate-spacing(
  $rules: (
    'top': top,
    'right': right,
    'bottom': bottom,
    'left': left
  ),
  $negative: true,
  $variants: map.get(config.$variants, 'layout', 'position-coordinates'),
  $utilities: map.get(config.$utilities, 'layout', 'position-coordinates')
);
