@use 'sass:map';
@use '../../config';
@use '../../mixins';

$u-position: () !default;
$u-position: map.deep-merge(
  (
    'static': (
      'position': static
    ),
    'fixed': (
      'position': fixed
    ),
    'absolute': (
      'position': absolute
    ),
    'relative': (
      'position': relative
    ),
    'sticky': (
      'position': sticky
    )
  ),
  $u-position
);

@include mixins.generate-utilities(
  $map: $u-position,
  $variants: map.get(config.$variants, 'layout', 'position'),
  $include: map.get(config.$utilities, 'layout', 'position')
);
