@use 'sass:map';
@use '../../config';
@use '../../mixins';

$position: () !default;
$position: map.deep-merge(
  (
    'static': (
      'position': static
    ),
    'fixed': (
      'position': fixed
    ),
    'absolute': (
      'position': absolute
    ),
    'relative': (
      'position': relative
    ),
    'sticky': (
      'position': sticky
    )
  ),
  $position
);

@include mixins.generate-common(
  $rules: $position,
  $variants: map.get(config.$variants, 'layout', 'position'),
  $utilities: map.get(config.$utilities, 'layout', 'position')
);
