@use 'sass:map';
@use '../../config';
@use '../../mixins';

@include mixins.generate-spacing(
  $class-name: 'top',
  $property: 'top',
  $negative: true,
  $variants: map.get(config.$variants, 'layout', 'position-coordinates'),
  $include: map.get(config.$utilities, 'layout', 'position-coordinates')
);

@include mixins.generate-spacing(
  $class-name: 'right',
  $property: 'right',
  $negative: true,
  $variants: map.get(config.$variants, 'layout', 'position-coordinates'),
  $include: map.get(config.$utilities, 'layout', 'position-coordinates')
);

@include mixins.generate-spacing(
  $class-name: 'bottom',
  $property: 'bottom',
  $negative: true,
  $variants: map.get(config.$variants, 'layout', 'position-coordinates'),
  $include: map.get(config.$utilities, 'layout', 'position-coordinates')
);

@include mixins.generate-spacing(
  $class-name: 'left',
  $property: 'left',
  $negative: true,
  $variants: map.get(config.$variants, 'layout', 'position-coordinates'),
  $include: map.get(config.$utilities, 'layout', 'position-coordinates')
);
