@use 'sass:map';
@use '../../config';
@use '../../mixins';

$visibility: () !default;
$visibility: map.deep-merge(
  (
    'visible': (
      'visibility': visible
    ),
    'invisible': (
      'visibility': hidden
    )
  ),
  $visibility
);

@include mixins.generate-common(
  $rules: $visibility,
  $variants: map.get(config.$variants, 'layout', 'visibility'),
  $utilities: map.get(config.$utilities, 'layout', 'visibility')
);
