@use 'sass:map';
@use '../../config';
@use '../../mixins';

$u-visibility: () !default;
$u-visibility: map.deep-merge(
  (
    'visible': (
      'visibility': visible
    ),
    'invisible': (
      'visibility': hidden
    )
  ),
  $u-visibility
);

@include mixins.generate-utilities(
  $map: $u-visibility,
  $variants: map.get(config.$variants, 'layout', 'visibility'),
  $include: map.get(config.$utilities, 'layout', 'visibility')
);
