@use 'sass:map';
@use '../../config';
@use '../../mixins';

$border-style: () !default;
$border-style: map.deep-merge(
  (
    'border-solid': (
      'border-style': solid
    ),
    'border-dashed': (
      'border-style': dashed
    ),
    'border-dotted': (
      'border-style': dotted
    ),
    'border-double': (
      'border-style': double
    ),
    'border-none': (
      'border-style': none
    )
  ),
  $border-style
);

@include mixins.generate-common(
  $rules: $border-style,
  $variants: map.get(config.$variants, 'borders', 'border-style'),
  $utilities: map.get(config.$utilities, 'borders', 'border-style')
);
