@use 'sass:map';
@use '../../config';
@use '../../mixins';

@include mixins.generate-colors(
  $rules: (
    'border': border-color
  ),
  $custom-property: '--border-opacity',
  $variants: map.get(config.$variants, 'borders', 'border-color'),
  $utilities: map.get(config.$utilities, 'borders', 'border-color')
);
