@use 'sass:map';
@use '../../config';
@use '../../mixins';

@include mixins.generate-theme(
  $set: map.get(config.$theme, 'border'),
  $rules: (
    'border': border-width,
    'border-t': border-top-width,
    'border-r': border-right-width,
    'border-b': border-bottom-width,
    'border-l': border-left-width
  ),
  $variants: map.get(config.$variants, 'borders', 'border-width'),
  $utilities: map.get(config.$utilities, 'borders', 'border-width')
);
