@use 'sass:map';
@use '../../config';
@use '../../mixins';

$u-border-style: () !default;
$u-border-style: map.deep-merge(
  (
    'border-solid': (
      'border-style': solid
    ),
    'border-dashed': (
      'border-style': dashed
    ),
    'border-dotted': (
      'border-style': dotted
    ),
    'border-double': (
      'border-style': double
    ),
    'border-none': (
      'border-style': none
    )
  ),
  $u-border-style
);

@include mixins.generate-utilities(
  $map: $u-border-style,
  $variants: map.get(config.$variants, 'borders', 'border-style'),
  $include: map.get(config.$utilities, 'borders', 'border-style')
);
