@use 'sass:map';
@use '../../config';
@use '../../mixins';

@include mixins.generate-colors(
  $rules: (
    'divide': border-color
  ),
  $custom-property: '--divide-opacity',
  $combinator: ' > :not([hidden]) ~ :not([hidden])',
  $variants: map.get(config.$variants, 'borders', 'divide-color'),
  $utilities: map.get(config.$utilities, 'borders', 'divide-color')
);
