@use 'sass:map';
@use '../../config';
@use '../../mixins';

$screen-readers: () !default;
$screen-readers: map.deep-merge(
  (
    'sr-only': (
      'position': absolute,
      'width': 1px,
      'height': 1px,
      'padding': 0,
      'margin': -1px,
      'overflow': hidden,
      'clip': rect(0, 0, 0, 0),
      'white-space': nowrap,
      'border-width': 0
    ),
    'not-sr-only': (
      'position': static,
      'width': auto,
      'height': auto,
      'padding': 0,
      'margin': 0,
      'overflow': visible,
      'clip': auto,
      'white-space': normal
    )
  ),
  $screen-readers
);

@include mixins.generate-common(
  $rules: $screen-readers,
  $variants: map.get(config.$variants, 'accessibility', 'screen-readers'),
  $utilities: map.get(config.$utilities, 'accessibility', 'screen-readers')
);
