@use 'sass:map';
@use '../../config';
@use '../../mixins';

$height: () !default;
$height: map.deep-merge(
  (
    'h-auto': (
      'height': auto
    ),
    'h-full': (
      'height': 100%
    ),
    'h-screen': (
      'height': 100vh
    )
  ),
  $height
);

@include mixins.generate-utilities(
  $map: $height,
  $variants: map.get(config.$variants, 'sizing', 'height'),
  $include: map.get(config.$utilities, 'sizing', 'height')
);

@include mixins.generate-spacing(
  $class-name: 'h',
  $property: 'height',
  $variants: map.get(config.$variants, 'sizing', 'height'),
  $include: map.get(config.$utilities, 'sizing', 'height')
);
