@use 'sass:map';
@use '../../config';
@use '../../mixins';

$max-height: () !default;
$max-height: map.deep-merge(
  (
    'max-h-full': (
      'max-height': 100%
    ),
    'max-h-screen': (
      'max-height': 100vh
    )
  ),
  $max-height
);

@include mixins.generate-utilities(
  $map: $max-height,
  $variants: map.get(config.$variants, 'sizing', 'max-height'),
  $include: map.get(config.$utilities, 'sizing', 'max-height')
);

@include mixins.generate-spacing(
  $class-name: 'max-h',
  $property: 'max-height',
  $variants: map.get(config.$variants, 'sizing', 'max-height'),
  $include: map.get(config.$utilities, 'sizing', 'max-height')
);
