@use 'sass:map';
@use '../../config';
@use '../../mixins';

$max-height: () !default;
$max-height: map.deep-merge(
  (
    'max-h-full': (
      'max-height': 100%
    ),
    'max-h-screen': (
      'max-height': 100vh
    )
  ),
  $max-height
);

@include mixins.generate-common(
  $rules: $max-height,
  $variants: map.get(config.$variants, 'sizing', 'max-height'),
  $utilities: map.get(config.$utilities, 'sizing', 'max-height')
);

@include mixins.generate-spacing(
  $rules: (
    'max-h': max-height
  ),
  $variants: map.get(config.$variants, 'sizing', 'max-height'),
  $utilities: map.get(config.$utilities, 'sizing', 'max-height')
);
