@use 'sass:map';
@use '../../config';
@use '../../mixins';

$min-height: () !default;
$min-height: map.deep-merge(
  (
    'min-h-0': (
      'min-height': 0
    ),
    'min-h-full': (
      'min-height': 100%
    ),
    'min-h-screen': (
      'min-height': 100vh
    )
  ),
  $min-height
);

@include mixins.generate-utilities(
  $map: $min-height,
  $variants: map.get(config.$variants, 'sizing', 'min-height'),
  $include: map.get(config.$utilities, 'sizing', 'min-height')
);
