@use 'sass:map';
@use 'sass:math';
@use '../../config';
@use '../../mixins';

$width: () !default;
$width: map.deep-merge(
  (
    'w-auto': (
      'width': auto
    ),
    'w-full': (
      'width': 100%
    ),
    'w-screen': (
      'width': 100vw
    ),
    'w-min': (
      'width': min-content
    ),
    'w-max': (
      'width': max-content
    ),
    '#{w-1\/12}': (
      'width': math.percentage(1 / 12)
    ),
    '#{w-2\/12}': (
      'width': math.percentage(2 / 12)
    ),
    '#{w-3\/12}': (
      'width': math.percentage(3 / 12)
    ),
    '#{w-4\/12}': (
      'width': math.percentage(4 / 12)
    ),
    '#{w-5\/12}': (
      'width': math.percentage(5 / 12)
    ),
    '#{w-6\/12}': (
      'width': math.percentage(6 / 12)
    ),
    '#{w-7\/12}': (
      'width': math.percentage(7 / 12)
    ),
    '#{w-8\/12}': (
      'width': math.percentage(8 / 12)
    ),
    '#{w-9\/12}': (
      'width': math.percentage(9 / 12)
    ),
    '#{w-10\/12}': (
      'width': math.percentage(10 / 12)
    ),
    '#{w-11\/12}': (
      'width': math.percentage(11 / 12)
    )
  ),
  $width
);

@include mixins.generate-utilities(
  $map: $width,
  $variants: map.get(config.$variants, 'sizing', 'width'),
  $include: map.get(config.$utilities, 'sizing', 'width')
);

@include mixins.generate-spacing(
  $class-name: 'w',
  $property: 'width',
  $negative: false,
  $variants: map.get(config.$variants, 'sizing', 'width'),
  $include: map.get(config.$utilities, 'sizing', 'width')
);
