@use 'sass:map';
@use '../../config';
@use '../../mixins';

$align-self: () !default;
$align-self: map.deep-merge(
  (
    'self-auto': (
      'align-self': auto
    ),
    'self-start': (
      'align-self': flex-start
    ),
    'self-end': (
      'align-self': flex-end
    ),
    'self-center': (
      'align-self': center
    ),
    'self-stretch': (
      'align-self': stretch
    )
  ),
  $align-self
);

@include mixins.generate-utilities(
  $map: $align-self,
  $variants: map.get(config.$variants, 'box-alignment', 'align-self'),
  $include: map.get(config.$utilities, 'box-alignment', 'align-self')
);
