@use 'sass:map';
@use '../../config';
@use '../../mixins';

$align-items: () !default;
$align-items: map.deep-merge(
  (
    'items-start': (
      'align-items': flex-start
    ),
    'items-end': (
      'align-items': flex-end
    ),
    'items-center': (
      'align-items': center
    ),
    'items-baseline': (
      'align-items': baseline
    ),
    'items-stretch': (
      'align-items': stretch
    )
  ),
  $align-items
);

@include mixins.generate-common(
  $rules: $align-items,
  $variants: map.get(config.$variants, 'box-alignment', 'align-items'),
  $utilities: map.get(config.$utilities, 'box-alignment', 'align-items')
);
