@use 'sass:map';
@use '../../config';
@use '../../mixins';

$align-content: () !default;
$align-content: map.deep-merge(
  (
    'content-center': (
      'align-content': center
    ),
    'content-start': (
      'align-content': flex-start
    ),
    'content-end': (
      'align-content': flex-end
    ),
    'content-between': (
      'align-content': space-between
    ),
    'content-around': (
      'align-content': space-around
    ),
    'content-evenly': (
      'align-content': space-evenly
    )
  ),
  $align-content
);

@include mixins.generate-common(
  $rules: $align-content,
  $variants: map.get(config.$variants, 'box-alignment', 'align-content'),
  $utilities: map.get(config.$utilities, 'box-alignment', 'align-content')
);
