@use 'sass:map';
@use '../../config';
@use '../../mixins';

$justify-content: () !default;
$justify-content: map.deep-merge(
  (
    'justify-center': (
      'justify-content': center
    ),
    'justify-start': (
      'justify-content': flex-start
    ),
    'justify-end': (
      'justify-content': flex-end
    ),
    'justify-between': (
      'justify-content': space-between
    ),
    'justify-around': (
      'justify-content': space-around
    ),
    'justify-evenly': (
      'justify-content': space-evenly
    )
  ),
  $justify-content
);

@include mixins.generate-common(
  $rules: $justify-content,
  $variants: map.get(config.$variants, 'box-alignment', 'justify-content'),
  $utilities: map.get(config.$utilities, 'box-alignment', 'justify-content')
);
