@use 'sass:map';
@use '../../config';
@use '../../mixins';

$justify-self: () !default;
$justify-self: map.deep-merge(
  (
    'justify-self-auto': (
      'justify-self': auto
    ),
    'justify-self-start': (
      'justify-self': start
    ),
    'justify-self-end': (
      'justify-self': end
    ),
    'justify-self-center': (
      'justify-self': center
    ),
    'justify-self-stretch': (
      'justify-self': stretch
    )
  ),
  $justify-self
);

@include mixins.generate-common(
  $rules: $justify-self,
  $variants: map.get(config.$variants, 'box-alignment', 'justify-self'),
  $utilities: map.get(config.$utilities, 'box-alignment', 'justify-self')
);
