@use 'sass:map';
@use '../../config';
@use '../../mixins';

$justify-items: () !default;
$justify-items: map.deep-merge(
  (
    'justify-items-auto': (
      'justify-items': auto
    ),
    'justify-items-start': (
      'justify-items': start
    ),
    'justify-items-end': (
      'justify-items': end
    ),
    'justify-items-center': (
      'justify-items': center
    ),
    'justify-items-stretch': (
      'justify-items': stretch
    )
  ),
  $justify-items
);

@include mixins.generate-common(
  $rules: $justify-items,
  $variants: map.get(config.$variants, 'box-alignment', 'justify-items'),
  $utilities: map.get(config.$utilities, 'box-alignment', 'justify-items')
);
