@use 'sass:map';
@use '../../config';
@use '../../mixins';

$place-items: () !default;
$place-items: map.deep-merge(
  (
    'place-items-auto': (
      'place-items': auto
    ),
    'place-items-start': (
      'place-items': start
    ),
    'place-items-end': (
      'place-items': end
    ),
    'place-items-center': (
      'place-items': center
    ),
    'place-items-stretch': (
      'place-items': stretch
    )
  ),
  $place-items
);

@include mixins.generate-common(
  $rules: $place-items,
  $variants: map.get(config.$variants, 'box-alignment', 'place-items'),
  $utilities: map.get(config.$utilities, 'box-alignment', 'place-items')
);
