@use 'sass:map';
@use '../../config';
@use '../../mixins';

$rotate: () !default;
$rotate: map.deep-merge(
  (
    'rotate-0': (
      '--rotate': 0deg
    ),
    'rotate-1': (
      '--rotate': 1deg
    ),
    'rotate-2': (
      '--rotate': 2deg
    ),
    'rotate-3': (
      '--rotate': 3deg
    ),
    'rotate-6': (
      '--rotate': 6deg
    ),
    'rotate-12': (
      '--rotate': 12deg
    ),
    'rotate-45': (
      '--rotate': 45deg
    ),
    'rotate-90': (
      '--rotate': 90deg
    ),
    'rotate-180': (
      '--rotate': 180deg
    ),
    '-rotate-1': (
      '--rotate': -1deg
    ),
    '-rotate-2': (
      '--rotate': -2deg
    ),
    '-rotate-3': (
      '--rotate': -3deg
    ),
    '-rotate-6': (
      '--rotate': -6deg
    ),
    '-rotate-12': (
      '--rotate': -12deg
    ),
    '-rotate-45': (
      '--rotate': -45deg
    ),
    '-rotate-90': (
      '--rotate': -90deg
    ),
    '-rotate-180': (
      '--rotate': -180deg
    )
  ),
  $rotate
);

@include mixins.generate-utilities(
  $map: $rotate,
  $variants: map.get(config.$variants, 'transforms', 'rotate'),
  $include: map.get(config.$utilities, 'transforms', 'rotate')
);
