@use 'sass:map';
@use '../../config';
@use '../../mixins';

$translate: () !default;
$translate: map.deep-merge(
  (
    'translate-x-full': (
      '--translate-x': 100%
    ),
    '-translate-x-full': (
      '--translate-x': -100%
    ),
    'translate-y-full': (
      '--translate-y': 100%
    ),
    '-translate-y-full': (
      '--translate-y': -100%
    )
  ),
  $translate
);

@include mixins.generate-common(
  $rules: $translate,
  $variants: map.get(config.$variants, 'transforms', 'translate'),
  $utilities: map.get(config.$utilities, 'transforms', 'translate')
);

@include mixins.generate-spacing(
  $rules: (
    'translate-x': --translate-x,
    'translate-y': --translate-y
  ),
  $negative: true,
  $variants: map.get(config.$variants, 'transforms', 'translate'),
  $utilities: map.get(config.$utilities, 'transforms', 'translate')
);
