@use 'sass:map';
@use '../../config';
@use '../../mixins';

@include mixins.generate-theme(
  $set: map.get(config.$theme, 'spacing'),
  $rules: (
    'gap': gap,
    'gap-x': column-gap,
    'gap-y': row-gap
  ),
  $variants: map.get(config.$variants, 'grid', 'gap'),
  $utilities: map.get(config.$utilities, 'grid', 'gap')
);
