@use 'sass:map';
@use '../../config';
@use '../../mixins';

$u-grid-auto-rows: () !default;
$u-grid-auto-rows: map.deep-merge(
  (
    'auto-rows-auto': (
      'grid-auto-rows': auto
    ),
    'auto-rows-min': (
      'grid-auto-rows': min-content
    ),
    'auto-rows-max': (
      'grid-auto-rows': max-content
    ),
    'auto-rows-fr': (
      'grid-auto-rows': minmax(0, 1fr)
    )
  ),
  $u-grid-auto-rows
);

@include mixins.generate-utilities(
  $map: $u-grid-auto-rows,
  $variants: map.get(config.$variants, 'grid', 'grid-auto-rows'),
  $include: map.get(config.$utilities, 'grid', 'grid-auto-rows')
);
