@use 'sass:map';
@use '../../config';
@use '../../mixins';

$grid-auto-flow: () !default;
$grid-auto-flow: map.deep-merge(
  (
    'grid-flow-row': (
      'grid-auto-flow': row
    ),
    'grid-flow-col': (
      'grid-auto-flow': column
    ),
    'grid-flow-row-dense': (
      'grid-auto-flow': row dense
    ),
    'grid-flow-col-dense': (
      'grid-auto-flow': column dense
    )
  ),
  $grid-auto-flow
);

@include mixins.generate-common(
  $rules: $grid-auto-flow,
  $variants: map.get(config.$variants, 'grid', 'grid-auto-flow'),
  $utilities: map.get(config.$utilities, 'grid', 'grid-auto-flow')
);
