@use 'sass:map';
@use '../config';
@use '../mixins';

@include mixins.generate-theme(
  $map: map.get(config.$config, 'theme', 'rounded'),
  $class-name: 'rounded',
  $property: 'border-radius',
  $variants: map.get(config.$config, 'variants', 'border-radius'),
  $include: map.get(config.$config, 'utilities', 'border-radius')
);
