@use 'sass:map';
@use '../config';
@use '../mixins';

$u-border-opacity: () !default;
$u-border-opacity: map.deep-merge(
  (
    'border-opacity-0': (
      '--border-opacity': 0
    ),
    'border-opacity-5': (
      '--border-opacity': 0.05
    ),
    'border-opacity-10': (
      '--border-opacity': 0.1
    ),
    'border-opacity-20': (
      '--border-opacity': 0.2
    ),
    'border-opacity-25': (
      '--border-opacity': 0.25
    ),
    'border-opacity-30': (
      '--border-opacity': 0.3
    ),
    'border-opacity-40': (
      '--border-opacity': 0.4
    ),
    'border-opacity-50': (
      '--border-opacity': 0.5
    ),
    'border-opacity-60': (
      '--border-opacity': 0.6
    ),
    'border-opacity-70': (
      '--border-opacity': 0.7
    ),
    'border-opacity-75': (
      '--border-opacity': 0.75
    ),
    'border-opacity-80': (
      '--border-opacity': 0.8
    ),
    'border-opacity-90': (
      '--border-opacity': 0.9
    ),
    'border-opacity-95': (
      '--border-opacity': 0.95
    ),
    'border-opacity-100': (
      '--border-opacity': 1
    )
  ),
  $u-border-opacity
);

@include mixins.generate-utilities(
  $map: $u-border-opacity,
  $variants: map.get(config.$config, 'variants', 'border-opacity'),
  $include: map.get(config.$config, 'utilities', 'border-opacity')
);
