@use 'sass:map';
@use '../config';
@use '../mixins';

@include mixins.generate-colors(
  $class-name: 'border',
  $property: 'border-color',
  $custom-property: '--border-opacity',
  $variants: map.get(config.$config, 'variants', 'border-color'),
  $include: map.get(config.$config, 'utilities', 'border-color')
);

@include mixins.generate-colors(
  $map: map.get(config.$config, 'theme', 'colors', 'special'),
  $class-name: 'border',
  $property: 'border-color',
  $variants: map.get(config.$config, 'variants', 'border-color'),
  $include: map.get(config.$config, 'utilities', 'border-color')
);
