@use 'sass:map';
@use '../config';
@use '../mixins';

@include mixins.generate-theme(
  $map: map.get(config.$config, 'theme', 'border'),
  $class-name: 'border',
  $property: 'border-width',
  $variants: map.get(config.$config, 'variants', 'border-width'),
  $include: map.get(config.$config, 'utilities', 'border-width')
);

@include mixins.generate-theme(
  $map: map.get(config.$config, 'theme', 'border'),
  $class-name: 'border-t',
  $property: 'border-top-width',
  $variants: map.get(config.$config, 'variants', 'border-width'),
  $include: map.get(config.$config, 'utilities', 'border-width')
);

@include mixins.generate-theme(
  $map: map.get(config.$config, 'theme', 'border'),
  $class-name: 'border-r',
  $property: 'border-right-width',
  $variants: map.get(config.$config, 'variants', 'border-width'),
  $include: map.get(config.$config, 'utilities', 'border-width')
);

@include mixins.generate-theme(
  $map: map.get(config.$config, 'theme', 'border'),
  $class-name: 'border-b',
  $property: 'border-bottom-width',
  $variants: map.get(config.$config, 'variants', 'border-width'),
  $include: map.get(config.$config, 'utilities', 'border-width')
);

@include mixins.generate-theme(
  $map: map.get(config.$config, 'theme', 'border'),
  $class-name: 'border-l',
  $property: 'border-left-width',
  $variants: map.get(config.$config, 'variants', 'border-width'),
  $include: map.get(config.$config, 'utilities', 'border-width')
);
