@use 'sass:map';
@use '../config';
@use '../mixins';

$u-display: () !default;
$u-display: map.deep-merge(
  (
    'block': (
      'display': block
    ),
    'inline-block': (
      'display': inline-block
    ),
    'inline': (
      'display': inline
    ),
    'flex': (
      'display': flex
    ),
    'inline-flex': (
      'display': inline-flex
    ),
    'table': (
      'display': table
    ),
    'table-cell': (
      'display': table-cell
    ),
    'table-column': (
      'display': table-column
    ),
    'table-row': (
      'display': table-row
    ),
    'grid': (
      'display': grid
    ),
    'inline-grid': (
      'display': inline-grid
    ),
    'contents': (
      'display': contents
    ),
    'hidden': (
      'display': hidden
    ),
    'visible': (
      'visibility': visible
    ),
    'invisible': (
      'visibility': hidden
    )
  ),
  $u-display
);

@include mixins.generate-utilities(
  $map: $u-display,
  $variants: map.get(config.$config, 'variants', 'display'),
  $include: map.get(config.$config, 'utilities', 'display')
);
