@use 'sass:map';
@use '../config';
@use '../mixins';

$u-flex-shrink: () !default;
$u-flex-shrink: map.deep-merge(
  (
    'flex-shrink-0': (
      'flex-shrink': 0
    ),
    'flex-shrink': (
      'flex-shrink': 1
    )
  ),
  $u-flex-shrink
);

@include mixins.generate-utilities(
  $map: $u-flex-shrink,
  $variants: map.get(config.$config, 'variants', 'flex-shrink'),
  $include: map.get(config.$config, 'utilities', 'flex-shrink')
);
