@use 'sass:map';
@use '../config';
@use '../mixins';

@include mixins.generate-theme(
  $map: map.get(config.$config, 'theme', 'weight'),
  $class-name: 'weight',
  $property: 'font-weight',
  $variants: map.get(config.$config, 'variants', 'font-weight'),
  $include: map.get(config.$config, 'utilities', 'font-weight')
);
