@use 'sass:map';
@use '../config';
@use '../mixins';

$u-font-style: () !default;
$u-font-style: map.deep-merge(
  (
    'italic': (
      'font-style': italic
    ),
    'non-italic': (
      'font-style': normal
    )
  ),
  $u-font-style
);

@include mixins.generate-utilities(
  $map: $u-font-style,
  $variants: map.get(config.$config, 'variants', 'font-style'),
  $include: map.get(config.$config, 'utilities', 'font-style')
);
