@use 'sass:map';
@use '../config';
@use '../mixins';

$u-justify-self: () !default;
$u-justify-self: map.deep-merge(
  (
    'justify-self-auto': (
      'justify-self': auto
    ),
    'justify-self-start': (
      'justify-self': start
    ),
    'justify-self-end': (
      'justify-self': end
    ),
    'justify-self-center': (
      'justify-self': center
    ),
    'justify-self-stretch': (
      'justify-self': stretch
    )
  ),
  $u-justify-self
);

@include mixins.generate-utilities(
  $map: $u-justify-self,
  $variants: map.get(config.$config, 'variants', 'justify-self'),
  $include: map.get(config.$config, 'utilities', 'justify-self')
);
