@use 'sass:map';
@use '../config';
@use '../mixins';

$u-justify-items: () !default;
$u-justify-items: map.deep-merge(
  (
    'justify-items-auto': (
      'justify-items': auto
    ),
    'justify-items-start': (
      'justify-items': start
    ),
    'justify-items-end': (
      'justify-items': end
    ),
    'justify-items-center': (
      'justify-items': center
    ),
    'justify-items-stretch': (
      'justify-items': stretch
    )
  ),
  $u-justify-items
);

@include mixins.generate-utilities(
  $map: $u-justify-items,
  $variants: map.get(config.$config, 'variants', 'justify-items'),
  $include: map.get(config.$config, 'utilities', 'justify-items')
);
