@use 'sass:map';
@use '../config';
@use '../mixins';

$u-list: () !default;
$u-list: map.deep-merge(
  (
    'list-none': (
      'list-style-type': none
    ),
    'list-disc': (
      'list-style-type': disc
    ),
    'list-decimal': (
      'list-style-type': decimal
    ),
    'list-inside': (
      'list-style-position': inside
    ),
    'list-outside': (
      'list-style-position': outside
    )
  ),
  $u-list
);

@include mixins.generate-utilities(
  $map: $u-list,
  $variants: map.get(config.$config, 'variants', 'list'),
  $include: map.get(config.$config, 'utilities', 'list')
);
