@use 'sass:map';
@use '../config';
@use '../mixins';

$u-outline: () !default;
$u-outline: map.deep-merge(
  (
    'outline-none': (
      'outline': none
    ),
    'outline-white': (
      'outline': 2px dotted white,
      'outline-offset': 2px
    ),
    'outline-black': (
      'outline': 2px dotted black,
      'outline-offset': 2px
    )
  ),
  $u-outline
);

@include mixins.generate-utilities(
  $map: $u-outline,
  $variants: map.get(config.$config, 'variants', 'outline'),
  $include: map.get(config.$config, 'utilities', 'outline')
);
