@use 'sass:map';
@use '../config';
@use '../mixins';

@include mixins.generate-spacing(
  $class-name: 'p',
  $property: 'padding',
  $negative: false,
  $variants: map.get(config.$config, 'variants', 'padding'),
  $include: map.get(config.$config, 'utilities', 'padding')
);

@include mixins.generate-spacing(
  $class-name: 'pt',
  $property: 'padding-top',
  $negative: false,
  $variants: map.get(config.$config, 'variants', 'padding'),
  $include: map.get(config.$config, 'utilities', 'padding')
);

@include mixins.generate-spacing(
  $class-name: 'pr',
  $property: 'padding-right',
  $negative: false,
  $variants: map.get(config.$config, 'variants', 'padding'),
  $include: map.get(config.$config, 'utilities', 'padding')
);

@include mixins.generate-spacing(
  $class-name: 'pb',
  $property: 'padding-bottom',
  $negative: false,
  $variants: map.get(config.$config, 'variants', 'padding'),
  $include: map.get(config.$config, 'utilities', 'padding')
);

@include mixins.generate-spacing(
  $class-name: 'pl',
  $property: 'padding-left',
  $negative: false,
  $variants: map.get(config.$config, 'variants', 'padding'),
  $include: map.get(config.$config, 'utilities', 'padding')
);

@include mixins.generate-spacing(
  $class-name: 'px',
  $property: padding-right padding-left,
  $negative: false,
  $variants: map.get(config.$config, 'variants', 'padding'),
  $include: map.get(config.$config, 'utilities', 'padding')
);

@include mixins.generate-spacing(
  $class-name: 'py',
  $property: padding-top padding-bottom,
  $negative: false,
  $variants: map.get(config.$config, 'variants', 'padding'),
  $include: map.get(config.$config, 'utilities', 'padding')
);
