@use 'sass:map';
@use '../config';
@use '../mixins';

$u-place-content: () !default;
$u-place-content: map.deep-merge(
  (
    'place-content-center': (
      'place-content': center
    ),
    'place-content-start': (
      'place-content': start
    ),
    'place-content-end': (
      'place-content': end
    ),
    'place-content-between': (
      'place-content': space-between
    ),
    'place-content-around': (
      'place-content': space-around
    ),
    'place-content-evenly': (
      'place-content': space-evenly
    ),
    'place-content-stretch': (
      'place-content': stretch
    )
  ),
  $u-place-content
);

@include mixins.generate-utilities(
  $map: $u-place-content,
  $variants: map.get(config.$config, 'variants', 'place-content'),
  $include: map.get(config.$config, 'utilities', 'place-content')
);
