@use 'sass:map';
@use '../config';
@use '../mixins';

$u-pointer-events: () !default;
$u-pointer-events: map.deep-merge(
  (
    'pointer-events-none': (
      'pointer-events': none
    ),
    'pointer-events-auto': (
      'pointer-events': auto
    )
  ),
  $u-pointer-events
);

@include mixins.generate-utilities(
  $map: $u-pointer-events,
  $variants: map.get(config.$config, 'variants', 'pointer-events'),
  $include: map.get(config.$config, 'utilities', 'pointer-events')
);
