@use 'sass:map';
@use '../config';
@use '../mixins';

@include mixins.generate-spacing(
  $class-name: 'top',
  $property: 'top',
  $variants: map.get(config.$config, 'variants', 'position-coordinates'),
  $include: map.get(config.$config, 'utilities', 'position-coordinates')
);

@include mixins.generate-spacing(
  $class-name: 'right',
  $property: 'right',
  $variants: map.get(config.$config, 'variants', 'position-coordinates'),
  $include: map.get(config.$config, 'utilities', 'position-coordinates')
);

@include mixins.generate-spacing(
  $class-name: 'bottom',
  $property: 'bottom',
  $variants: map.get(config.$config, 'variants', 'position-coordinates'),
  $include: map.get(config.$config, 'utilities', 'position-coordinates')
);

@include mixins.generate-spacing(
  $class-name: 'left',
  $property: 'left',
  $variants: map.get(config.$config, 'variants', 'position-coordinates'),
  $include: map.get(config.$config, 'utilities', 'position-coordinates')
);
