@use 'sass:map';
@use '../config';
@use '../mixins';

$u-text-align: () !default;
$u-text-align: map.deep-merge(
  (
    'text-left': (
      'text-align': left
    ),
    'text-center': (
      'text-align': center
    ),
    'text-right': (
      'text-align': right
    ),
    'text-justify': (
      'text-align': justify
    )
  ),
  $u-text-align
);

@include mixins.generate-utilities(
  $map: $u-text-align,
  $variants: map.get(config.$config, 'variants', 'text-align'),
  $include: map.get(config.$config, 'utilities', 'text-align')
);
