@use 'sass:map';
@use '../config';
@use '../mixins';

$u-vertical-align: () !default;
$u-vertical-align: map.deep-merge(
  (
    'align-baseline': (
      'vertical-align': baseline
    ),
    'align-top': (
      'vertical-align': top
    ),
    'align-middle': (
      'vertical-align': middle
    ),
    'align-bottom': (
      'vertical-align': bottom
    ),
    'align-text-top': (
      'vertical-align': text-top
    ),
    'align-text-bottom': (
      'vertical-align': text-bottom
    )
  ),
  $u-vertical-align
);

@include mixins.generate-utilities(
  $map: $u-vertical-align,
  $variants: map.get(config.$config, 'variants', 'vertical-align'),
  $include: map.get(config.$config, 'utilities', 'vertical-align')
);
