@use 'sass:map';
@use '../config';
@use '../mixins';

$u-width: () !default;
$u-width: map.deep-merge(
  (
    'w-auto': (
      'width': auto
    ),
    'w-full': (
      'width': 100%
    ),
    'w-screen': (
      'width': 100vw
    ),
    'w-min': (
      'width': min-content
    ),
    'w-max': (
      'width': max-content
    ),
    '#{w-1\/12}': (
      'width': 8.333333%
    ),
    '#{w-2\/12}': (
      'width': 16.666667%
    ),
    '#{w-3\/12}': (
      'width': 25%
    ),
    '#{w-4\/12}': (
      'width': 33.333333%
    ),
    '#{w-5\/12}': (
      'width': 41.666667%
    ),
    '#{w-6\/12}': (
      'width': 50%
    ),
    '#{w-7\/12}': (
      'width': 58.333333%
    ),
    '#{w-8\/12}': (
      'width': 66.666667%
    ),
    '#{w-9\/12}': (
      'width': 75%
    ),
    '#{w-10\/12}': (
      'width': 83.333333%
    ),
    '#{w-11\/12}': (
      'width': 91.666667%
    )
  ),
  $u-width
);

@include mixins.generate-utilities(
  $map: $u-width,
  $variants: map.get(config.$config, 'variants', 'width'),
  $include: map.get(config.$config, 'utilities', 'width')
);

@include mixins.generate-spacing(
  $class-name: 'w',
  $property: 'width',
  $negative: false,
  $variants: map.get(config.$config, 'variants', 'width'),
  $include: map.get(config.$config, 'utilities', 'width')
);
