@use 'sass:map';
@use '../../config';
@use '../../mixins';

$background-position: () !default;
$background-position: map.deep-merge(
  (
    'bg-bottom': (
      'background-position': bottom
    ),
    'bg-center': (
      'background-position': center
    ),
    'bg-left': (
      'background-position': left
    ),
    'bg-left-bottom': (
      'background-position': left bottom
    ),
    'bg-left-top': (
      'background-position': left top
    ),
    'bg-right': (
      'background-position': right
    ),
    'bg-right-bottom': (
      'background-position': right bottom
    ),
    'bg-right-top': (
      'background-position': right top
    ),
    'bg-top': (
      'background-position': top
    )
  ),
  $background-position
);

@include mixins.generate-utilities(
  $map: $background-position,
  $variants: map.get(config.$variants, 'backgrounds', 'background-position'),
  $include: map.get(config.$utilities, 'backgrounds', 'background-position')
);
