@use 'sass:map';
@use '../../config';
@use '../../mixins';

$background-size: () !default;
$background-size: map.deep-merge(
  (
    'bg-auto': (
      'background-size': auto
    ),
    'bg-cover': (
      'background-size': cover
    ),
    'bg-contain': (
      'background-size': contain
    )
  ),
  $background-size
);

@include mixins.generate-common(
  $rules: $background-size,
  $variants: map.get(config.$variants, 'backgrounds', 'background-size'),
  $utilities: map.get(config.$utilities, 'backgrounds', 'background-size')
);
