@use 'sass:map';
@use '../../config';
@use '../../mixins';

$u-background-repeat: () !default;
$u-background-repeat: map.deep-merge(
  (
    'bg-repeat': (
      'background-repeat': repeat
    ),
    'bg-no-repeat': (
      'background-repeat': no-repeat
    ),
    'bg-repeat-x': (
      'background-repeat': repeat-x
    ),
    'bg-repeat-y': (
      'background-repeat': repeat-y
    ),
    'bg-repeat-round': (
      'background-repeat': round
    ),
    'bg-repeat-space': (
      'background-repeat': space
    )
  ),
  $u-background-repeat
);

@include mixins.generate-utilities(
  $map: $u-background-repeat,
  $variants: map.get(config.$variants, 'backgrounds', 'background-repeat'),
  $include: map.get(config.$utilities, 'backgrounds', 'background-repeat')
);
