@use 'sass:map';
@use '../../config';
@use '../../mixins';

@include mixins.generate-colors(
  $class-name: 'bg',
  $property: 'background-color',
  $custom-property: '--bg-opacity',
  $colors_: true,
  $variants: map.get(config.$variants, 'backgrounds', 'background-color'),
  $include: map.get(config.$utilities, 'backgrounds', 'background-color')
);
