@use 'sass:map';
@use '../../config';
@use '../../mixins';

$background-clip: () !default;
$background-clip: map.deep-merge(
  (
    'bg-clip-border': (
      'background-clip': border-box
    ),
    'bg-clip-padding': (
      'background-clip': padding-box
    ),
    'bg-clip-content': (
      'background-clip': content-box
    ),
    'bg-clip-text': (
      'background-clip': text
    )
  ),
  $background-clip
);

@include mixins.generate-common(
  $rules: $background-clip,
  $variants: map.get(config.$variants, 'backgrounds', 'background-clip'),
  $utilities: map.get(config.$utilities, 'backgrounds', 'background-clip')
);
