@use 'sass:map';
@use '../../config';
@use '../../mixins';

$background-attachment: () !default;
$background-attachment: map.deep-merge(
  (
    'bg-fixed': (
      'background-attachment': fixed
    ),
    'bg-local': (
      'background-attachment': local
    ),
    'bg-scroll': (
      'background-attachment': scroll
    )
  ),
  $background-attachment
);

@include mixins.generate-common(
  $rules: $background-attachment,
  $variants: map.get(config.$variants, 'backgrounds', 'background-attachment'),
  $utilities: map.get(config.$utilities, 'backgrounds', 'background-attachment')
);
