@use 'sass:map';
@use '../../config';
@use '../../mixins';

@include mixins.generate-colors(
  $rules: (
    'bg': background-color
  ),
  $custom-property: '--bg-opacity',
  $variants: map.get(config.$variants, 'backgrounds', 'background-color'),
  $utilities: map.get(config.$utilities, 'backgrounds', 'background-color')
);
