@use 'sass:map';
@use '../../config';
@use '../../mixins';

@include mixins.generate-theme(
  $set: map.get(config.$theme, 'family'),
  $rules: (
    'font': font-family
  ),
  $variants: map.get(config.$variants, 'typography', 'font-family'),
  $utilities: map.get(config.$utilities, 'typography', 'font-family')
);
