@use 'sass:map';
@use '../../config';
@use '../../mixins';

$font-smoothing: () !default;
$font-smoothing: map.deep-merge(
  (
    'antialiased': (
      '-webkit-font-smoothing': antialiased,
      '-moz-osx-font-smoothing': grayscale
    ),
    'subpixel-antialiased': (
      '-webkit-font-smoothing': auto,
      '-moz-osx-font-smoothing': auto
    )
  ),
  $font-smoothing
);

@include mixins.generate-utilities(
  $map: $font-smoothing,
  $variants: map.get(config.$variants, 'typography', 'font-smoothing'),
  $include: map.get(config.$utilities, 'typography', 'font-smoothing')
);
