@use 'sass:map';
@use '../../config';
@use '../../mixins';

$font-style: () !default;
$font-style: map.deep-merge(
  (
    'italic': (
      'font-style': italic
    ),
    'non-italic': (
      'font-style': normal
    )
  ),
  $font-style
);

@include mixins.generate-common(
  $rules: $font-style,
  $variants: map.get(config.$variants, 'typography', 'font-style'),
  $utilities: map.get(config.$utilities, 'typography', 'font-style')
);
