@use 'sass:map';
@use '../../config';
@use '../../mixins';

@include mixins.generate-theme(
  $map: map.get(config.$theme, 'family'),
  $class-name: 'font',
  $property: 'font-family',
  $variants: map.get(config.$variants, 'typography', 'font-family'),
  $include: map.get(config.$utilities, 'typography', 'font-family')
);
