@use 'sass:map';
@use '../../config';
@use '../../mixins';

$letter-spacing: () !default;
$letter-spacing: map.deep-merge(
  (
    '-tracking-5': (
      'letter-spacing': map.get(config.$theme, 'tracking', '-5')
    ),
    '-tracking-4': (
      'letter-spacing': map.get(config.$theme, 'tracking', '-4')
    ),
    '-tracking-3': (
      'letter-spacing': map.get(config.$theme, 'tracking', '-3')
    ),
    '-tracking-2': (
      'letter-spacing': map.get(config.$theme, 'tracking', '-2')
    ),
    '-tracking-1': (
      'letter-spacing': map.get(config.$theme, 'tracking', '-1')
    ),
    'tracking-0': (
      'letter-spacing': map.get(config.$theme, 'tracking', '0')
    ),
    'tracking-1': (
      'letter-spacing': map.get(config.$theme, 'tracking', '1')
    ),
    'tracking-2': (
      'letter-spacing': map.get(config.$theme, 'tracking', '2')
    ),
    'tracking-3': (
      'letter-spacing': map.get(config.$theme, 'tracking', '3')
    ),
    'tracking-4': (
      'letter-spacing': map.get(config.$theme, 'tracking', '4')
    ),
    'tracking-5': (
      'letter-spacing': map.get(config.$theme, 'tracking', '5')
    )
  ),
  $letter-spacing
);

@include mixins.generate-common(
  $rules: $letter-spacing,
  $variants: map.get(config.$variants, 'typography', 'letter-spacing'),
  $utilities: map.get(config.$utilities, 'typography', 'letter-spacing')
);
