@use 'sass:map';
@use '../../config';
@use '../../mixins';

@include mixins.generate-theme(
  $set: map.get(config.$theme, 'leading'),
  $rules: (
    'leading': line-height
  ),
  $variants: map.get(config.$variants, 'typography', 'line-height'),
  $utilities: map.get(config.$utilities, 'typography', 'line-height')
);
