@use 'sass:map';
@use '../../config';
@use '../../mixins';

$list-style-position: () !default;
$list-style-position: map.deep-merge(
  (
    'list-inside': (
      'list-style-position': inside
    ),
    'list-outside': (
      'list-style-position': outside
    )
  ),
  $list-style-position
);

@include mixins.generate-utilities(
  $map: $list-style-position,
  $variants: map.get(config.$variants, 'typography', 'list-style-position'),
  $include: map.get(config.$utilities, 'typography', 'list-style-position')
);
