@use 'sass:map';
@use '../../config';
@use '../../mixins';

$list-style-type: () !default;
$list-style-type: map.deep-merge(
  (
    'list-none': (
      'list-style-type': none
    ),
    'list-disc': (
      'list-style-type': disc
    ),
    'list-decimal': (
      'list-style-type': decimal
    )
  ),
  $list-style-type
);

@include mixins.generate-common(
  $rules: $list-style-type,
  $variants: map.get(config.$variants, 'typography', 'list-style-type'),
  $utilities: map.get(config.$utilities, 'typography', 'list-style-type')
);
