@use 'sass:map';
@use '../../config';
@use '../../mixins';

$text-transform: () !default;
$text-transform: map.deep-merge(
  (
    'uppercase': (
      'text-transform': uppercase
    ),
    'lowercase': (
      'text-transform': lowercase
    ),
    'capitalize': (
      'text-transform': capitalize
    ),
    'normal-case': (
      'text-transform': none
    )
  ),
  $text-transform
);

@include mixins.generate-utilities(
  $map: $text-transform,
  $variants: map.get(config.$variants, 'typography', 'text-transform'),
  $include: map.get(config.$utilities, 'typography', 'text-transform')
);
