@use 'sass:map';
@use '../../config';
@use '../../mixins';

$text-align: () !default;
$text-align: map.deep-merge(
  (
    'text-left': (
      'text-align': left
    ),
    'text-center': (
      'text-align': center
    ),
    'text-right': (
      'text-align': right
    ),
    'text-justify': (
      'text-align': justify
    )
  ),
  $text-align
);

@include mixins.generate-common(
  $rules: $text-align,
  $variants: map.get(config.$variants, 'typography', 'text-align'),
  $utilities: map.get(config.$utilities, 'typography', 'text-align')
);
