@use 'sass:map';
@use '../../config';
@use '../../mixins';

$text-overflow: () !default;
$text-overflow: map.deep-merge(
  (
    'truncate': (
      'overflow': hidden,
      'text-overflow': ellipsis,
      'white-space': nowrap
    ),
    'overflow-ellipsis': (
      'text-overflow': ellipsis
    ),
    'overflow-clip': (
      'text-overflow': clip
    )
  ),
  $text-overflow
);

@include mixins.generate-common(
  $rules: $text-overflow,
  $variants: map.get(config.$variants, 'typography', 'text-overflow'),
  $utilities: map.get(config.$utilities, 'typography', 'text-overflow')
);
