@use 'sass:map';
@use '../../config';
@use '../../mixins';

@include mixins.generate-colors(
  $class-name: 'text',
  $property: 'color',
  $custom-property: '--text-opacity',
  $colors_: true,
  $variants: map.get(config.$variants, 'typography', 'text-color'),
  $include: map.get(config.$utilities, 'typography', 'text-color')
);
