@use 'sass:map';
@use '../../config';
@use '../../mixins';

$vertical-align: () !default;
$vertical-align: map.deep-merge(
  (
    'align-baseline': (
      'vertical-align': baseline
    ),
    'align-top': (
      'vertical-align': top
    ),
    'align-middle': (
      'vertical-align': middle
    ),
    'align-bottom': (
      'vertical-align': bottom
    ),
    'align-text-top': (
      'vertical-align': text-top
    ),
    'align-text-bottom': (
      'vertical-align': text-bottom
    )
  ),
  $vertical-align
);

@include mixins.generate-utilities(
  $map: $vertical-align,
  $variants: map.get(config.$variants, 'typography', 'vertical-align'),
  $include: map.get(config.$utilities, 'typography', 'vertical-align')
);
