@use 'sass:map';
@use '../../config';
@use '../../mixins';

$white-space: () !default;
$white-space: map.deep-merge(
  (
    'whitespace-normal': (
      'white-space': normal
    ),
    'whitespace-nowrap': (
      'white-space': nowrap
    ),
    'whitespace-pre': (
      'white-space': pre
    ),
    'whitespace-pre-line': (
      'white-space': pre-line
    ),
    'whitespace-pre-wrap': (
      'white-space': pre-wrap
    )
  ),
  $white-space
);

@include mixins.generate-utilities(
  $map: $white-space,
  $variants: map.get(config.$variants, 'typography', 'white-space'),
  $include: map.get(config.$utilities, 'typography', 'white-space')
);
