@use 'sass:map';
@use '../../config';
@use '../../mixins';

$word-break: () !default;
$word-break: map.deep-merge(
  (
    'break-normal': (
      'overflow-wrap': normal,
      'word-break': normal
    ),
    'break-words': (
      'overflow-wrap': break-word
    ),
    'break-all': (
      'word-break': break-all
    )
  ),
  $word-break
);

@include mixins.generate-common(
  $rules: $word-break,
  $variants: map.get(config.$variants, 'typography', 'word-break'),
  $utilities: map.get(config.$utilities, 'typography', 'word-break')
);
