@use 'sass:map';
@use '../../config';
@use '../../mixins';

$transition-timing-function: () !default;
$transition-timing-function: map.deep-merge(
  (
    'ease-linear': (
      'transition-timing-function': linear
    ),
    'ease-in': (
      'transition-timing-function': cubic-bezier(0.33, 0, 0.88, 1)
    ),
    'ease-out': (
      'transition-timing-function': cubic-bezier(0, 0, 0.177, 1)
    ),
    'ease-in-out': (
      'transition-timing-function': cubic-bezier(0.33, 0, 0.177, 1)
    )
  ),
  $transition-timing-function
);

@include mixins.generate-utilities(
  $map: $transition-timing-function,
  $variants:
    map.get(config.$variants, 'transitions', 'transition-timing-function'),
  $include:
    map.get(config.$utilities, 'transitions', 'transition-timing-function')
);
