@use 'sass:map';
@use '../../config';
@use '../../mixins';

@include mixins.generate-theme(
  $map: map.get(config.$theme, 'ease'),
  $class-name: 'ease',
  $property: 'transition-timing-function',
  $variants:
    map.get(config.$variants, 'transitions', 'transition-timing-function'),
  $include:
    map.get(config.$utilities, 'transitions', 'transition-timing-function')
);
