@use 'sass:map';
@use '../../config';
@use '../../mixins';

$transition-property: () !default;
$transition-property: map.deep-merge(
  (
    'transition-none': (
      'transition-property': none
    ),
    'transition-all': (
      'transition-property': all
    ),
    'transition-opacity': (
      'transition-property': opacity
    ),
    'transition-transform': (
      'transition-property': transform
    ),
    'transition-shadow': (
      'transition-property': box-shadow
    ),
    'transition': (
      'transition-property': (
        background-color,
        border-color,
        color,
        fill,
        stroke,
        opacity,
        box-shadow,
        transform
      )
    )
  ),
  $transition-property
);

@include mixins.generate-utilities(
  $map: $transition-property,
  $variants: map.get(config.$variants, 'transitions', 'transition-property'),
  $include: map.get(config.$utilities, 'transitions', 'transition-property')
);
