@use 'sass:map';
@use '../../config';
@use '../../mixins';

@include mixins.generate-spacing(
  $rules: (
    'p': padding,
    'pt': padding-top,
    'pr': padding-right,
    'pb': padding-bottom,
    'pl': padding-left,
    'px': padding-left padding-right,
    'py': padding-top padding-bottom
  ),
  $variants: map.get(config.$variants, 'spacing', 'padding'),
  $utilities: map.get(config.$utilities, 'spacing', 'padding')
);
