@use 'sass:map';
@use '../../config';
@use '../../mixins';

@include mixins.generate-between(
  $set: map.get(config.$theme, 'spacing'),
  $selector-name: 'space',
  $property-left: 'margin-left',
  $property-right: 'margin-right',
  $property-top: 'margin-top',
  $property-bottom: 'margin-bottom',
  $variants: map.get(config.$variants, 'spacing', 'space-between'),
  $utilities: map.get(config.$utilities, 'spacing', 'space-between')
);
