@use 'sass:map';
@use '../../config';
@use '../../mixins';

$space-between: () !default;
$space-between: map.deep-merge(
  (
    'space-x-reverse': (
      '--space-x-reverse': 1
    ),
    'space-y-reverse': (
      '--space-y-reverse': 1
    )
  ),
  $space-between
);

@include mixins.generate-common(
  $rules: $space-between,
  $variants: map.get(config.$variants, 'spacing', 'space-between'),
  $utilities: map.get(config.$utilities, 'spacing', 'space-between')
);

@include mixins.generate-space-between(
  $variants: map.get(config.$variants, 'spacing', 'space-between'),
  $utilities: map.get(config.$utilities, 'spacing', 'space-between')
);
