@use '../functions/get-theme';

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
td,
th,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

html {
  font-family: get-theme.theme('family', 'sans');
  line-height: 1.5;
}

body {
  font-family: inherit;
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

pre,
code,
kbd,
samp {
  font-family: get-theme.theme('family', 'mono');
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  height: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

textarea {
  resize: vertical;
}

button,
[role='button'] {
  background-color: transparent;
  background-image: none;
  cursor: pointer;
}
