@use 'sass:map';
@use '../../config';
@use '../../mixins';

$fill: () !default;
$fill: map.deep-merge(
  (
    'fill-current': (
      'fill': currentColor
    )
  ),
  $fill
);

@include mixins.generate-utilities(
  $map: $fill,
  $variants: map.get(config.$variants, 'svg', 'fill'),
  $include: map.get(config.$utilities, 'svg', 'fill')
);
