@use 'sass:map';
@use '../../config';
@use '../../mixins';

$stroke: () !default;
$stroke: map.deep-merge(
  (
    'stroke-current': (
      'stroke': currentColor
    )
  ),
  $stroke
);

@include mixins.generate-utilities(
  $map: $stroke,
  $variants: map.get(config.$variants, 'svg', 'stroke'),
  $include: map.get(config.$utilities, 'svg', 'stroke')
);
